*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
   background-color: #0F0F0F;
    color: white;
    overflow-x: hidden;
}

.searchInput{

    width: 32rem;
    text-align: center;
    margin-left: 30rem;
    margin-top: -10rem;
    border-radius: 2rem;
    border: 1px solid #888888;
    color:#888888;
}

.searchInput input{
    width: 30rem;
    background-color: #0F0F0F;
    border: none;
    font-size: 1.1rem;
    padding-left: 1rem;
    color:#888888;
}

.searchInput input:focus{
  outline: none;
}
.search-inp{
    background-color: #222222;
    width: 3rem;
    margin-left: -1rem;
    height: 2.7rem;
    border-radius: 0rem 2rem 2rem 0rem;
}

.searchInput img{
    cursor: pointer;
    margin-top: 0.8rem;
    margin-left: -0.4rem;
    width: 1.2rem;
    height: 1.2rem;
}

.mic{
    margin-left: 63rem;
    margin-top: -3rem;
    margin-bottom: 5rem;
    border-radius: 50%;
    background-color: #222222;
    width: 3rem;
    height: 3rem;
}

.mic img{
    padding: 2rem;
    margin-top: -1.1rem;
    margin-left: -1rem;
    cursor: pointer;
}

.homebutt{
   display: flex;
   width: 80rem;
   margin-left: 16rem;
   margin-top: -3rem;
}

.homebutt button{
    margin-left: 1rem;
    /* border-radius: 2rem; */
    background-color: #272727;
    color: white;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: 600;
}
.homebutt button:hover{
    background-color: #343333;
}
.homebutt button:focus{
    background-color: white;
    color : black;
}

.sidebar{
  background-color: #2998F7;
  width: 5rem;
  height: 90rem;
}



.main-home{
 
    gap: 3rem;
}

.home-img{
    width: 80rem;
    padding: 4rem;
    margin-left: 16rem;
    margin-top: -5rem;
}

.home-img img{
    cursor: pointer;
    margin-left: -2rem;
    max-width: 22rem;
    height: 14rem;
    border-radius: 1rem;
    transition: all 0.6s;
}
.home-img img:active{
    transform: scale(0.9);
}
.home-img img:hover{
    transform: scale(0.9);
}

.home-img .desc h1{
  
    font-size: 15px;
    padding-left: 1rem;
}

.home-img .desc{
    width: 20rem;
    margin-top: 1rem;

    display: flex;
}
.home-img .desc img{
 
    
    width: 2rem;
    height: 2rem;
}

.main-img{
  margin-top: 4rem;
  margin-left: -1rem;
}

.subs{
    margin-left: 1rem;
    width: 15rem;
    margin-top: 1rem; 
}

.subs p{
   margin-top: -1.2rem;
}
.chanLogo{
    margin-top: 1.5rem;
    width: 50rem;
    margin-left: 30rem;
    gap: 20rem;
}
.chanLogo img{
    height:8rem;
    width:8rem;
    border-radius: 50%;
    
}

.chanbutt{

    width: 50rem;
    margin-left: 16rem;
}

.chanLogo p{
    font-size: 1.3rem;
    margin-left: -10rem;
    margin-top: 1rem;
    color: #F1F1F1;
}

.content-chan{
    width: 30rem;
    font-size: 11px;
    margin-left: 48rem;
    margin-top: -4.3rem;
    color: #A0A5AA;
}

.content-chan .sub{
    margin-top: -0.7rem;
}


.channel-head{
    margin-left: 17rem;
        
    border-top: 2px solid #272727;
    width: 72rem;
    margin-top: 5rem;
}


.double-border{
    border-top: 2px solid #272727;
}

.channel-head h1{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.iframe-chan{
    margin-left: 14rem;
    width: 80rem;
}


.chan-descr{
    margin-top: 3rem;
    width: 40rem;
}
.chan-descr h5{
    font-size: 20px;
}
.chan-descr p{
    font-size: 12px;
    color: #A0A5AA;
}

.chan-iframe{
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
}

.chan-logo-1{
    align-items: center;
    gap: 0.5rem;
}

.chan-logo-1 img{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: -0.5rem;
    line-height: 2px;
    cursor: pointer;
}
.chan-logo-1 p{
    text-transform: capitalize;
    margin-top: 5px;
}

.iframe-chan .desc{
    margin-top: 0.6rem;
    font-size: 10px;
    word-spacing: 1px;
}
.iframe-chan .tag{
    margin-top: -2px;
background-color: #343333;
border-radius: 5px;
    width: 2.4rem;
cursor: pointer;
    height: 1.5rem;
    font-size: 12px;
    color: white;
    padding-top: 3px;
    padding-left: 6px;
}

.moreData{
    cursor: pointer;
    font-size: 1rem;
    width: 20rem;
   margin-left: 50rem;
   color: #888888;
   margin-bottom: 10rem;
}
.MainScroll{
    overflow-y: scroll;
}

.Main{ 
    display: flex;
    margin-left: 14rem;

    width: 100rem;
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
}
.main-card{
display: block;
    margin-top: 2rem;
    border:1px solid #A0A5AA;
    margin-left: 1rem;
    background-color:#272727;
    border-radius: 1rem;
    height: 12rem;
    width:30rem;
}

.postImage{
    margin-top: -2rem;
    width: 6rem;
    height: 6rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    transition: all 0.6s;
    cursor: pointer;
}
.postImage:hover{
    transform: scale(0.9);
}
.card-body{
   gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 40rem;
    height: 8rem;
}

.card-body .content{
    width: 20rem;
    margin-left: -1rem;
    font-size: 15px;
}

.LogoContent{
    align-items: center;
    gap: 0.5rem;
}

.LogoContent img{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: -0.5rem;
    line-height: 2px;
    cursor: pointer;
}
.LogoContent p{
    text-transform: capitalize;
    margin-top: 5px;
}

.like-dislike{
    height: 2rem;
    margin-top: -3rem;
}
.btn-like-dislike{
    cursor: pointer;
    margin-top: 1rem;
    gap: 1rem;
}
.btn-like-dislike img:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.btn-like-dislike img{
    height: 1rem;
    width: 1rem;
    transition: all 0.6s;
}

.dislike{
    margin-top: 0.2rem;
}
.comment{
    margin-top: -1rem;
    margin-left: 20rem;
    gap: 2rem;
    width: 5rem;
}
.comment img{
    height: 1rem;
    width: 1rem;
    transition: all 0.6s;
}

.comment img:hover{
    transform: scale(0.9);
    cursor: pointer;
}


.headImageChan{
    margin-top: -4rem;
    margin-left: 20rem;
}

.headImageChan img{
    background-color: orange;
    width: 70rem;
    height: 11rem;
    border-radius: 1rem;
}
.channelLogo{
    margin-top: 3rem;
    margin-left: 20rem;
    gap: 2rem;
    width: 80rem;
}
.channelLogo img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.channelName{
    width: 70rem;
    height: 20rem;
}

.channelName p{
    color:#888888;
}

.channelName h1{
    font-weight: 700;
}

.channelName .navlink{
    text-decoration: none;
    color:#2998F7;
}

.subs-main button{
    width: 2rem;
    height: 2rem;
}

.dropdown-main{

    width: 20rem;
    margin-top: -9rem;
    margin-left: 32rem;
}

.dropdown button{
   width: 10rem;
   background-color: #272727;
   border-radius: 2rem;
   border: none;
}


.chan-card{
    width: 70rem;
    margin-left: 20rem;
    margin-top: 5rem;
}
.inner-card-chain{
    margin-top: 1rem;
}

.chan-card img{
    height: 10rem;
    width: 18rem;
    border-radius: 0.8rem;
    cursor:pointer;
    transition: all 0.6s;
}
.chan-card img:active{
    transform: scale(0.9);
}


.chanTabs{
    width: 70rem;
    margin-top: 2rem;
    margin-left: 20rem;
    border-bottom: 1px solid #272727;
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
}

.chanTabs button{
    color:#AAAAAA;
    border-radius: 0;
    border: none;
    font-weight: bold;
}

.chanTabs button:focus{
    border-bottom: 3px solid white;
    color:white;
}
.chanTabs button:active{
    border-bottom: 3px solid #343333;
}


.content-chan{
    margin: 2rem;
    width: 15rem;
    margin-left: 1rem;
    border: 1px solid black;
}



.chantit{
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin-top: -1rem;
}

.namechan,.viewchan{
    font-size: 10px;
    margin-top: -1rem;
}


.mainchandata{
    width: 80rem;
    margin-left: 15rem;

display: flex;
}
.iframe{
    width: 50rem;
    height: 30rem;
    margin-left: 0;
    border-radius: 1rem;
  }

.btnchandata{
margin-left: 1rem;
    width: 30rem;
    height: 5rem;
    margin-top: 1rem;
}

.btnchandata button{
    margin-left: 1rem;
    background-color:#343333;
    color: white;
    font-weight: 600;
}
.btnchandata button:hover{
    background-color:#272727;
}
.btnchandata button:focus{
    background-color: white;
    color: black;
}

.videochan{
    width: 50rem;
    height: 50rem;
}
.videochan .channeltit{
    font-size: 20px;
    font-weight: bold;
}

.commentchan{
    /* background-color: orange; */
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.commentchan p{
    margin-top: 0.5rem;
}

.commentchan .chanl{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.joinchan{
   margin-top: 0.1rem;
    width: 2rem;
}
.chansubs{
    width: 10rem;
    margin-left: -27rem;
    margin-top: 7rem;
}

.joinbutt{
    border-radius: 2rem;
    width: 4rem;
    height: 2rem;
    line-height: 1rem;
    text-align: center;
    margin-top: 0.3rem;
    background-color: white;
}

.subschan{
    margin-left: 4rem;
    font-size: 12px;
    color:#888888;
    margin-top: -1rem;
}
.likedislike{
    margin-left: 13rem;
border-radius: 1rem;
height: 2.2rem;
background-color: #272727;
    margin-top: 0.3rem;
}


.likedislike .like{
    background-color: #272727;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    line-height: 1rem;
    height: 2.2rem;
    width: 6rem;
    border-right: 1px solid white;
    
}

.likedislike .dislike{
    border: none;
    cursor: pointer;
    background-color: #272727;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;

    line-height: 1rem;
    height: 2rem;
    width: 5rem;
}

.likedislike .dislike img{
    border: none;
    cursor: pointer;
    height: 1rem;
}

.likedislike .like img{
    border: none;
    cursor: pointer;
    height: 1rem;

}

.likedislike .like span{
    margin-left: 0.5rem;
    margin-top: -0.5rem;
}

.share button{
    line-height: 1rem;
    background-color: #272727;
    border-radius: 1rem;
    margin-top: 0.3rem;
    height: 2.2rem;
    width: 7rem;
    color: white;
}

.share button:hover{
    background-color:#343333;

}

.share img{
    margin-left: -1rem;
}

.share span{
    margin-left: 0.2rem;
    font-size: 1rem;
}

.download{
    margin-top: 0.5rem;
}

.download img{   
    width: 1.2rem;
    height: 1.2rem;
 cursor: pointer;
}



.chanDesc{
  
    background-color: #343333;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 15px;
}

.moredesc{
    border: none;
    position: relative;
    top: -1.9rem;
    left: 45rem;
    color:#2998F7;
}

.lessdesc{
    border: none;
    color:#2998F7;
    position: relative;
    top: -0.1rem;
}

.comment{
    font-size: 15px;
    width: 50rem;
    margin-top: -0.2rem;
    margin-left: -0.1rem;
    border-bottom: 1px solid #272727;
}

.message img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.proName{
    text-transform: capitalize;
    margin-left: 1rem;
}

.commentAdd{
    margin-top: 1rem;
    border-bottom: 1px solid #272727;
}

.commentAdd input{
    background-color: transparent;
    border: none;
    color: #888888;

}

.commentAdd input:focus{
    border: none;
    outline: none;
}


.commentAdd button{
    margin-left: 30rem;
    background-color: #272727;
    border-radius: 2rem;
    color: #888888;
}

.commentAdd button:hover{
    background-color: #343333;
}


